body {
background-color: #343a40 !important; /*testing */
max-width: 1920px;
margin: 0 auto !important;
/* float: none !important; /* cant remember what this was for */
overflow-x: hidden;
height: 100%;
}


.jumbotron {
	/* background-color: #007bff !important; */
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../img/retro.jpg");
	background-size: 100% 100%;
}

.fname {
	display: inline;
	position: relative;
	font-family: 'Monoton', cursive;
	
	color: rgba(30,144,255 ,1);
}

.fname:after {
	content: "Nicholas";
	position: absolute;
	left: 5px;
	top: 5px;
	color: rgba(255,20,147 ,1);
}

.lname {
	display: inline;
	position: relative;
	font-family: 'Monoton', cursive;
	
	color: rgba(255,20,147 ,1);
}

.lname:after {
	content: "Hough";
	position: absolute;
	left: 5px;
	top: 5px;
	color: rgba(30,144,255 ,1);
}

.display-4 {
	color: rgba(255,255,0 ,1);
}

nav {

}


.about {
}

.info {
	padding-bottom: 20px;
}

img {
	width: 20%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	text-align: center;
}



.portfolio {
}

.contact {
}

footer {
}

footer a {
	font-size:5vmin;
}

p, li{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.card-title {
	font-family: 'Libre Baskerville', serif;
	font-size: 32px;
}

.card-img-overlay {
	background: rgba(0, 0, 0, 0.5);
}

hr {
	width: 10%;
	background-color: white;
}